@model DashboardViewModel

<h1>Company Name</h1>
<label>@Model.userInformation.CompanyName</label>

<h1>Name</h1>
<label>@Model.userInformation.Name</label>

<h1>Surname</h1>
<label>@Model.userInformation.Surname</label>

<h1>Add Product</h1>
<a asp-controller="FOB" asp-action="Index">Add Item</a>


